/* common share code */

/* *,
::after,
::before {
    border: 1px solid white;
}  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --background-color: #0d0b14;
    --nav-text-color: #cad1e9;
    --gap: 24px;
    --padding: 0 358px 0 358px;
}

::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    height: 12px;
    /* Height of the scrollbar for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
    /* Background color of the scrollbar track */
    border-radius: 10px;
    /* Rounded corners for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgb(47, 15, 229), rgb(255, 0, 255));
    /* Gradient color for the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the scrollbar thumb */
    border: 2px solid #1a1a1a;
    /* Optional border around the thumb to add spacing */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgb(255, 0, 255), rgb(47, 15, 229));
    /* Color change on hover */
}

.img {
    width: 100%;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

/* .hero-container{
    max-width: 1920px;
    margin: 0 auto;
}
.services-container{
    max-width: 1920px;
    margin: 0 auto;
}
.pricing-container{
    max-width: 1920px;
    margin: 0 auto;
}
.says-container{
    max-width: 1368px;
    margin: 0 auto;
} */
.text-center {
    text-align: center;
}

.sora {
    font-family: "Sora";
}

.inter {
    font-family: "Inter";
}

.Aeonik {
    font-family: "Aeonik Regular";
}

.font-code-pro {
    font-family: "Source Code Pro";
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.column {
    flex-direction: column;
}

.font-normal {
    font-weight: 400;
}

.font-extra {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-xs {
    font-size: 14px;
}

.text-normal {
    font-size: 16px;
}

.text-20 {
    font-size: 20px;
}

.text-28 {
    font-size: 28px;
}

.text-semi {
    font-size: 24px;
}

.text-extra-semi {
    font-size: 40px;
}

.text-30 {
    font-size: 32px;
}

.text-extra {
    font-size: 60px;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.lg-none {
    display: none;
}

.w-50 {
    width: 50%;
}

.body-background {
    background-image: url("../assets/background1.png");
    height: 100vh;
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;

}

/* nav bar css start */
.nav-container {
    padding: 0 58px 0 58px;
}

.nav-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(34px);
    background: rgba(15, 12, 23, 0.14);
    padding: 12px 0 12px 0;
}

.identity {
    color: rgb(202, 209, 233);
    letter-spacing: -0.27px;
    cursor: pointer;
}

.identity:hover {
    background: linear-gradient(180deg, rgb(67, 73, 255), rgb(243, 60, 192));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background 0.5s ease, transform 0.3s ease;
    cursor: pointer;
}

.glow-button {
    background-color: #1a1a1a;
    color: #d4d4d4;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    outline: none;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    gap: 4px;
}

.glow-button::before {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(50deg, rgba(67, 73, 255, 0), rgb(243, 60, 192));
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.glow-button:hover::before {
    opacity: 0.3;
}

.glow-button::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 12px;
    background: linear-gradient(50deg, rgba(67, 73, 255), rgba(243, 60, 192, 0.5));
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}


.glow-special {
    box-shadow: 0px 0px 20px rgba(123, 66, 246, 0.6), 0px 0px 20px rgba(255, 139, 106, 0.6);
}

.glow-button:hover {
    box-shadow: 0px 0px 20px rgba(123, 66, 246, 0.6), 0px 0px 20px rgba(255, 139, 106, 0.6);
}

.special:hover {
    background: linear-gradient(180deg, rgb(67, 73, 255), rgb(243, 60, 192));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background 0.5s ease, transform 0.3s ease;
}

/* nav bar css end  */
/* hero section css start */
.hero-wrapper {
    padding: 64px 124px 100px 124px;

}

.identity-hub {
    line-height: 120%;
    letter-spacing: 0%;
    margin-top: 8px;
    background: linear-gradient(180deg, rgb(243, 60, 192), rgb(67, 73, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background 0.5s ease, transform 0.3s ease;
    width: 80%;
    margin: 0 auto;

}

.identity-hub:hover {
    background: linear-gradient(180deg, rgb(67, 73, 255), rgb(243, 60, 192));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background 0.5s ease, transform 0.3s ease;
}


.linea {
    width: 30%;
    height: 8px;
    bottom: -9%;
    left: 37%;
    /* Center adjusted */
    border-radius: 50% 50% 0 0;
    background: linear-gradient(90deg, rgb(67, 73, 255), rgb(243, 60, 192));
    background-size: 200%;
    /* Ensure enough space for smooth animation */
    animation: gradient-move 5s linear infinite;
    /* Gradient animation */
    transition: transform 0.2s ease;
    /* Smooth shake effect */
    animation: shake 3s ease infinite;
    animation: revealImage 5s infinite;
}

.title-line {
    bottom: -7.5%;
    right: 24%;

}

@keyframes revealImage {
    0% {
        clip-path: inset(0 100% 0 0);
        opacity: 0;
    }

    25% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }

    50% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }

    75% {
        clip-path: inset(0 0 0 100%);
        opacity: 0;
    }

    100% {
        clip-path: inset(0 100% 0 0);
        opacity: 0;
    }
}

/* Gradient animation */
@keyframes gradient-move {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}





.text-a {
    color: rgb(202, 198, 221);
    line-height: 140%;
    letter-spacing: 0%;
    width: 75%;
    margin: 0 auto 28px auto;
}

.hero-btn-div {
    gap: 16px;
}

.img-mbl {
    width: 50%;
}

.glow-button-new {
    background: linear-gradient(90deg, rgb(67, 73, 255), rgb(243, 60, 192));
    padding: 12px 20px;
    border-radius: 12px;
    outline: none;
    border: none;
    color: #d4d4d4;
}

.img-wrapper {
    margin-top: 10%;

}




.box {
    height: 73px;
    width: 211px;
    position: absolute;
    z-index: 2;

}

.center-box {
    width: 100%;
}
.boximg {
    width: 35%;
}
/* Animation for spinning */
@keyframes spin {
    0% {
        transform: rotate(0deg) translate(260px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(260px) rotate(-360deg);
    }
}

.one,
.two,
.three,
.four {
    animation: spin 60s linear infinite;
    transform-origin: center center;
}

.one {
    transform: rotate(0deg) translate(260px) rotate(0deg);
}

.two {
    transform: rotate(90deg) translate(260px) rotate(-90deg);
}

.three {
    transform: rotate(180deg) translate(260px) rotate(-180deg);
}

.four {
    transform: rotate(270deg) translate(260px) rotate(-270deg);
}

.one {
    animation-delay: 0s;
}

.two {
    animation-delay: -15s;
}

.three {
    animation-delay: -30s;
}

.four {
    animation-delay: -45s;
}

.call-wrapper {
    border-radius: 16px;
    backdrop-filter: blur(11.7px);
    background: linear-gradient(175.36deg, rgba(27, 28, 54, 0.16) 24.301%, rgba(112, 113, 122, 0.16) 65.615%);
    padding: 10px;
    font-size: 14px;
    gap: 10px;
}

.call {
    border-radius: 12px;
    box-shadow: 0px 0px 0px 1px rgb(45, 46, 72);
    background: rgba(255, 255, 255, 0.07);
}

.first {
    width: 95%;
    height: 110%;
    border-radius: 100%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    top: 10%;
    left: 3.5%;

}

.second {
    width: 80%;
    height: 90%;
    border-radius: 100%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    top: 20%;
    left: 11%;
}

.third {
    width: 65%;
    height: 70%;
    border-radius: 100%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    top: 30%;
    left: 18.5%;

}

.fourth {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    top: 40%;
    left: 25.5%;

}

.fifth {
    width: 35%;
    height: 30%;
    border-radius: 100%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    top: 50%;
    left: 32.5%;

}

.circle {
    width: 4%;
    height: 4%;
    border-radius: 100%;
    background: linear-gradient(to bottom right, #66e2a3, #394755);
    top: 46%;
    left: -1.8%;
}

.circlea {
    top: 26%;
    left: 93%;
}

.circleb {
    width: 3%;
    background: linear-gradient(to bottom right, #c4684b, #394755);
    height: 3%;
    top: 9%;
}

.circlec {
    width: 1%;
    height: 1%;
    top: -3%;
    background: linear-gradient(to bottom right, #c4684b, #394755);
    left: 87%;
}

/* Container for the colorful box */
.colorful-box {
    position: relative;
    width: 500px;
    /* Adjust width as needed */
    height: 500px;
    /* Adjust height as needed */
    background-color: #907CFF;
    background-blend-mode: color-dodge;
    opacity: 0.387;
    overflow: hidden;
    filter: blur(128px);
}

/* Color overlays within the box */
.colorful-box {
    width: 70%;
    /* Adjust width as needed */
    /* Adjust height as needed */
    position: absolute;
    background-color: #2f0fe5;
    background-blend-mode: color-dodge;
    opacity: 0.387;
    overflow: hidden;
    filter: blur(128px);
    top: 24%;
    left: 16%;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 40%,
            rgb(247, 2, 2) 40%,
            rgba(47, 15, 229, 0.9) 60%,
            rgb(12, 22, 215) 100%);
    mix-blend-mode: screen;
    filter: blur(80px);
    opacity: 0.85;
    z-index: 0;
}


/* hero section css end */
/* services section start */
.services-wrapper {
    margin: 100px 0 100px 0;
    padding: 20px;
}

.services-wrapper-p {
    color: rgb(202, 209, 233);
    margin: 8px auto 16px auto;
    width: 35%;
    line-height: 120%;

}

.data {
    background: linear-gradient(180deg, rgb(9, 14, 219), rgb(9, 14, 220));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.another-p {
    color: rgb(202, 198, 221);
    line-height: 140%;
    width: 70%;
    margin: 0 auto;
}

.card-wrapper {
    margin-top: 40px;
    gap: 24px;
}

.card {
    position: relative;
    padding: 20px;
    border-radius: 0 55px 0 0;
    color: #fff;
}

.inner {
    gap: 14px;
    margin-top: 20px;
}

.card::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 16px 55px 16px 16px;
    padding: 2px;
    background: linear-gradient(90deg, rgba(9, 14, 219, 0.2), rgba(255, 0, 255, 0.2));
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    background-size: 200% 200%;
    /* For a sweeping effect */
    transition: background 0.5s ease;
}


/* Hover effect to trigger the sweeping animation */
.card:hover::before {
    animation: light-sweep 3s infinite;
    /* Animation for sweeping effect */
    cursor: pointer;
}

/* Keyframes for light-sweep animation */
@keyframes light-sweep {
    0% {
        background-position: 200% 200%;
        /* Start from the right bottom corner */
    }

    50% {
        background-position: 0% 0%;
        /* Move to top left corner */
    }

    100% {
        background-position: 200% 200%;
        /* Return to the right bottom corner */
    }
}

.icon {
    background: linear-gradient(360deg, rgba(255, 0, 255, 0.2), rgba(9, 14, 219, 0.5));
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px;
}

.aa {
    text-decoration: none;
    /* Removes the default underline */
    position: relative;
    /* Ensures pseudo-elements position relative to this element */
    color: white;
    /* Optional: set a default color */
}

.aa:hover::after {
    content: "";
    /* Adds an empty element for the border */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    /* Border height */
    background-color: ;
    /* Border color */
    transition: width 0.3s ease;
    /* Smooth animation */
    border-bottom: 1px solid white;
}

.aa::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
    /* Smooth animation */
    border-bottom: 1px solid white;
}

.another-pa {
    color: rgb(202, 209, 233);
    width: 65%;
}

.otherp {
    color: rgb(202, 198, 221);
}

.colorful-boxa {
    position: absolute;
    width: 30%;
    /* Adjust width as needed */
    height: 150px;
    /* Adjust height as needed */
    background-color: #23119b;
    background-blend-mode: color-dodge;
    opacity: 0.387;
    overflow: hidden;
    filter: blur(128px);
    top: 21%;
    left: 35%;
    background: radial-gradient(circle at 50% 40%,
            rgba(47, 15, 229, 0.9) 60%,
            rgb(12, 22, 215) 100%);
    mix-blend-mode: screen;
    filter: blur(65px);
    opacity: 0.85;
    z-index: 0;
}

.colorful-boxa:hover {
    width: 70%;
    /* Hover width */
    left: 15%;
    /* Hover position */
    opacity: 1;
    /* Fully visible on hover */
    filter: blur(40px);
    /* Reduce blur for hover */
    transition: all 0.5s ease;
    /* Ensure this matches the base class */
}


/* services section end */
/* why choce us section start */
.why-choce-us-wrapper {
    padding: 100px 0px 100px 0px;
}

.why-p {
    color: rgb(202, 198, 221);
    margin: 8px 0 16px 0;
}

.firsta {
    top: 21%;
    left: 19%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    width: 65%;
    height: 37%;
    border-radius: 100%;
}

.secondb {
    top: 26%;
    left: 26%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    width: 51%;
    height: 28%;
    border-radius: 100%;
}

.thirdb {
    top: 31%;
    left: 33%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    width: 37%;
    height: 19%;
    border-radius: 100%;

}

.fourthc {
    top: 36%;
    left: 40%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    width: 23%;
    height: 10%;
    border-radius: 100%;
}

.choice {
    background: linear-gradient(90deg, rgba(9, 14, 219, 1),
            rgb(231, 61, 196));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.why-pa {
    color: rgb(202, 198, 221);
    width: 40%;
    margin: 0 auto;
}

.why-card-wrapper {
    margin-top: 40px;
    gap: 40px;
}

.first-div {
    gap: 40px;
}

.arrow-div {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(30, 33, 233);
    ;
}

/* .straight-div {
    width: 10px;
    height: 87%;
    background: linear-gradient(to bottom,
            rgb(54, 57, 255),
            rgba(108, 85, 255, 0.4),
            rgba(99, 101, 255, 0.5));
    box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
} */

.straight-div {
    width: 5px;
    /* Line thickness */
    height: 100%;
    /* Line height */
    background: linear-gradient(180deg,
            rgba(0, 0, 255, 1) 0%,
            rgba(0, 0, 255, 0.5) 50%,
            rgba(0, 0, 255, 0.2) 100%);
    box-shadow: 0 0 20px 5px rgba(0, 0, 255, 0.3),
        0 0 50px 20px rgba(0, 0, 255, 0.1);
    border-radius: 5px;
}

.first-div-inner {
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(16px);
    gap: 139px;
    background: linear-gradient(50.96deg, rgba(0, 0, 0, 0.16) 24.58%, rgba(83, 84, 108, 0.16) 98.174%);
}

.card-width {
    width: 60%;
    gap: 20px;
}


.inner-p {
    color: rgb(202, 209, 233);
    margin-bottom: 42px;
}

.right-wrapper {
    gap: 17.46px;
    align-items: start;
}

.right-div {
    background: rgba(30, 33, 233, 0.4);
    width: 28.08px;
    height: 28.08px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.custom-svg {
    width: 50%;
    height: 50%;
}

.right-inner-p {
    color: rgb(202, 198, 221);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    flex: 1;

}

.another-inner {
    gap: 100px;
}

.another-inner-wrapper {
    gap: 24px;
}

.right-side {
    width: 296px;
    height: 207px;
    border-radius: 12px;

    backdrop-filter: blur(9.47px);
    background: linear-gradient(140.60deg, rgba(0, 132, 255, 0.16) 5.175%, rgba(255, 171, 144, 0.16) 48.676%, rgba(253, 138, 200, 0.16) 104.485%);

    z-index: 0;

}

.right-side-another {
    width: 296px;
    height: 207px;
    border-radius: 12px;
    backdrop-filter: blur(74.22px);
    background: linear-gradient(222.93deg, rgba(27, 28, 54, 0.16) 16.757%, rgba(0, 0, 11, 0.16) 99.214%);
    z-index: 1;
    top: 18%;
    right: 15%;
}

.another-a {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    /* Background color */
    background: rgb(11, 16, 35);
    /* Box shadow with outside shadow effect */
    box-shadow:
        0px 0px 0px 4.05px rgba(255, 255, 255, 0.11);
    /* outside shadow */
    top: 40%;
    left: -10%;
}

.white-div-a {
    width: 60%;
    height: 15px;
    border-radius: 25.9px;
    background: rgb(202, 209, 233);
    top: 25px;
    left: 26px;
}

.delete-btn {
    border: 0.81px solid rgba(255, 255, 255, 0.17);
    border-radius: 12px;
    background: rgb(237, 89, 89);
    padding: 9.71px;
    bottom: 0%;
    color: white;
    left: -9%;
    bottom: 8%;
}

.cursor {
    bottom: 0%;
    left: 10%;
}

.whitea {
    top: 41%;
    left: 10%;
    width: 50%;
    border-radius: 0 25.9px 25.9px 0;
}

.whiteb {
    top: 51%;
    left: 10%;
    border-radius: 0 25.9px 25.9px 0;
    background: rgba(202, 209, 233, 0.4);
    border-radius: 0 25.9px 25.9px 0;
    width: 70%;
}

.whitec {
    top: 61%;
    left: 10%;
    border-radius: 0 25.9px 25.9px 0;
    background: rgba(202, 209, 233, 0.4);
    border-radius: 0 25.9px 25.9px 0;
    width: 70%;
}

.another-a2 {
    top: 80%;
    left: 90%;
}

.straight-divb {
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(121, 80, 255, 0.4) 0%,
            rgba(121, 80, 255, 0.5) 50%,
            rgba(121, 80, 255, 0.2) 100%);
    box-shadow: 0 0 20px 5px rgba(121, 80, 255, 0.3),
        0 0 50px 20px rgba(121, 80, 255, 0.1);
    border-radius: 5px;
}

.arrow-divb {
    background-color: rgb(121, 80, 255);
}

.right-divb {
    background-color: rgba(121, 80, 255, 0.4);
    width: 28.08px;
    height: 28.08px;
    border-radius: 100%;
    display: flex;

}

.parent-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 16px;
}

.parrent {
    border-radius: 20px;
    color: rgb(202, 209, 233);
    backdrop-filter: blur(11.7px);
    background: linear-gradient(175.36deg, rgba(27, 28, 54, 0.16) 21.438%, rgba(112, 113, 122, 0.16) 66.641%);
    padding: 8px;
    gap: 14px;
    width: 50%;
}

.parenta {
    width: 100%;
}

.parent-bounce {
    animation: bounce 4s ease-in-out infinite;
}

.parent-bouncea {
    animation: bounce 5s ease-out infinite
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Start and end at the original position */
    }

    50% {
        transform: translateY(-100px);
        /* Move up by 100px */
    }
}

.tab-w-100 {
    width: 100%;
}

.imgaa {
    border-radius: 16px;

    box-shadow: 0px 0px 0px 1px rgb(45, 46, 72);
    background: rgba(255, 255, 255, 0.07);
}


.arrow-divc {
    background-color: rgb(9, 135, 9);
}

.right-divc {
    background-color: rgba(9, 135, 9, 0.4);
    width: 28.08px;
    height: 28.08px;
    border-radius: 100%;
    display: flex;

}

.straight-divc {
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(9, 135, 9, 0.4) 0%,
            rgba(9, 135, 9, 0.5) 50%,
            rgba(9, 135, 9, 0.2) 100%);
    box-shadow: 0 0 20px 5px rgba(9, 135, 9, 0.3),
        0 0 50px 20px rgba(9, 135, 9, 0.1);
    border-radius: 5px;
}

.parent-wrappera {
    display: flex;
    justify-content: end;
}

.emaila {
    top: 39%;
    left: -71%;
}

.usera {
    top: 76%;
    left: -42%;
}

.colorful-boxab {
    position: relative;
    width: 300px;
    /* Adjust width as needed */
    height: 70%;
    /* Adjust height as needed */
    background-color: #907CFF;
    background-blend-mode: color-dodge;
    opacity: 0.387;
    overflow: hidden;
    filter: blur(128px);
}

/* Color overlays within the box */
.colorful-boxab {
    width: 70%;
    /* Adjust width as needed */
    /* Adjust height as needed */
    position: absolute;
    background-color: #0e0351;
    background-blend-mode: color-dodge;
    opacity: 0.387;
    overflow: hidden;
    filter: blur(128px);
    top: 0%;
    left: 15%;

}

.color-overlayab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 30%,
            /* Adjust focus towards the top */
            rgba(255, 105, 180, 0.9) 20%,
            /* Smaller pink section */
            rgba(47, 15, 229, 0.9) 60%,
            /* Transition to blue */
            rgba(47, 15, 229, 1) 100%
            /* Darker blue at the edges */
        );
    mix-blend-mode: screen;
    filter: blur(80px);
    opacity: 0.85;
    z-index: 0;
}

/* why choce us section end */
/* pricing section start */
.pricing-wrapper {
    padding: 20px;

}

.pricing-upper {
    margin-bottom: 48px;
}

.pricing-card {
    color: #fff;
    padding: 15px;
    gap: 24px;
    box-sizing: border-box;
    /* Neutral/01/5% */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    width: 100%;

    /* Glass linear */
    background: linear-gradient(50.96deg, rgba(0, 0, 0, 0.16) 32.338%, rgba(83, 84, 108, 0.16) 96.725%);
}

.pricing-card__title {
    font-size: 32px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.middle-padding {
    padding: 45px;
}



.pricing-card__description {
    font-size: 20px;
    font-weight: 400;
    color: rgb(202, 198, 221);

}

.pricing-card__price {
    font-size: 88px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.dolar {
    font-size: 40px;
}

.pricing-card__features {
    width: 100%;
}

.pricing-card__features li::before {
    margin-right: 10px;
}

@keyframes spinhh {
    0% {
        transform: rotate(0deg);
        /* Start at 0 degrees */
    }

    100% {
        transform: rotate(360deg);
        /* End at 360 degrees */
    }
}






.bb {
    top: 15%;
}

.boxa {
    top: -19%;
    right: 10%;
    animation: spinhh 5s ease-in-out infinite;

}

.ccc {
    width: 2%;
    height: 2%;
    top: -14%;
    left: 80%;
    border-radius: 100%;
    width: 1%;
    height: 1%;
}

.cccd {
    background: linear-gradient(to bottom right, #a597b5, #635275);
    border-radius: 100%;
    top: -6%;
}

/* pricing section end  */
/* says section start */
.says-wrapper {
    padding: 100px 20px 100px 20px;
}

.user {
    color: rgb(202, 209, 233);
    width: 35%;
    margin: 8px auto 40px auto;
}

/* Section Styling */
/* Testimonial Section */
/* Section Styling */
.testimonial-section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    backdrop-filter: blur(16px);
    background: linear-gradient(50.96deg, rgba(0, 0, 0, 0.16) 24.218%, rgba(83, 84, 108, 0.16) 98.241%);
    overflow: hidden;
    /* Prevent content overflow */
    padding: 40px 0 40px 0;

}

/* Testimonial Slider */
.testimonial-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    gap: 0;
    /* Remove gaps between slides */

}

/* Testimonial Card Styling */
.testimonial-card {
    flex: 0 0 100%;
    /* Each card takes up the full width of the container */
    width: 80%;
    /* Ensure full width within its parent */
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    /* Include padding in the width calculation */
    border-radius: 20px;
    background: linear-gradient(46.6deg, rgba(51, 51, 62, 0.16) 5.843%, rgba(83, 84, 108, 0.16) 98.266%);
}

.testimonial-inner {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
}

/* User Info Styling */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    margin-right: 10px;
}

.user-details {
    text-align: left;
}

.user-name {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
}

.user-role {
    color: rgb(157, 155, 166);
    font-size: 20px;
}

.innera {
    gap: 20px;
}

/* Testimonial Text Styling */
.testimonial-text {
    color: rgb(202, 198, 221);
    line-height: 140%;
    font-size: 20px;

}

/* Arrow Styling */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(45.49deg, rgb(9, 14, 219) -12.314%, rgb(231, 61, 196) 104.431%);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Pagination Dots */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: 16%;
    left: 50%;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    /* Faded effect for inactive dots */
    transition: opacity 0.3s ease-in-out;
}

.dot.active {
    opacity: 1;
    background: linear-gradient(90deg, rgb(9, 14, 219), rgb(231, 61, 196));
    transform: scale(1.2);
    /* Enlarged active dot */
    transition: transform 0.3s ease-in-out;
}


/* says section end */

/* be part of the future part start */
.part-wrapper {
    padding-top: 100px;

}

.part-content {
    padding: 160px 0 160px 0;
    color: white;
    width: 60%;
    margin: 0 auto;

}

.be-part-text {
    font-size: 60px;
    line-height: 120%;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
}

.another-be-part-text {
    color: rgb(202, 198, 221);
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 32px;
}

.line {
    left: 34%;
    top: 88%;
    background-size: 200%;
    /* Ensure enough space for smooth animation */
    animation: gradient-move 5s linear infinite;
    /* Gradient animation */
    transition: transform 0.2s ease;
    /* Smooth shake effect */
    animation: revealImage 5s infinite;



}

.first-circle {
    top: -8%;
    left: 10%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    width: 80%;
    height: 120%;
    border-radius: 100%;
}

.second-div {
    width: 65%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    top: 2%;
    left: 18%;
}

.third-div {
    width: 50%;
    height: 80%;
    border-radius: 100%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    top: 11%;
    left: 26%;
}

.fourth-div {
    width: 35%;
    height: 55%;
    border-radius: 100%;
    border: 1px solid rgba(202, 198, 221, 0.1);
    top: 22%;
    left: 34%
}

.fifth-div {
    width: 20%;
    height: 30%;
    border-radius: 100%;
    border: 30%;
    top: 34%;
    left: 42%;
    border: 1px solid rgba(202, 198, 221, 0.1);
}

.aaa {
    top: 31%;
    color: rgb(202, 198, 221);
}

/* be part of the future part end */
/* footer part start */
footer {
    padding: 40px 40px 24px 40px;
    margin-top: 40px;
}

.li-footer {
    padding: 32px 48px 32px 48px;
}

.bottom-footer {
    margin-top: 24px;
    color: rgb(202, 198, 221);
}

.facebook {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(27, 21, 48);
}

.mbl-social {
    gap: 32px;
}

.large-hidden {
    display: none;
}

/* footer part end */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* *,::after,::before{ 
        border: 1px solid red;
    }    */
    body,
    html {
        overflow-x: hidden;
        /* Prevent horizontal scrollbars */
        margin: 0;
        /* Remove default margin */
        padding: 0;
        /* Remove default padding */
    }

    .container {
        max-width: 100%;
        margin: 0 auto;

    }

    .none {
        display: none;
    }

    .section-gap {
        margin: 50px 0 50px 0;
    }

    .w-100 {
        width: 100%;
    }

    .w-50 {
        width: 50%;
    }

    .lg-none {
        display: flex;
    }

    .mtext {
        font-size: 14px;
    }

    .items {
        align-items: center;
    }

    /* nav bar css start */
    .nav-container {
        padding: 0 10px;
    }

    .nav-wrapper {
        padding: 10px 0 10px 0;
    }

    .mbl-column {
        flex-direction: column;
    }

    .identity {
        font-size: 15px;
    }

    .glow-mbl {
        font-size: 10px;
    }


    .nav-card {
        position: fixed;
        top: -100%;
        left: 10%;
        width: 80%;
        /* Adjust width if needed */
        background-color: #333;
        border-radius: 8px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        z-index: 1000;
        opacity: 1;
        /* Initially hidden */
        transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .nav-card.active {
        top: 14%;

        opacity: 1;
        /* Fully visible */

    }

    .nav-list {
        list-style: none;
        padding: 20px;
    }

    .nav-list li {
        margin: 10px 0;
        color: whitesmoke;
        font-size: 18px;
        transition: color 0.3s ease, transform 0.3s ease;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding: 10px;
    }

    .large-hidden {
        display: none;
        /* Fully hide when not in use */
    }

    /* nav bar css end  */
    /* hero section css start */
    .hero-wrapper {
        padding: 15px;
    }

    .identity-hub {
        font-size: 24px;
        width: 100%;
        margin-top: 6px;
    }

    .text-border {
        border-bottom: 6px solid;
    }

    .a {
        left: 35%;
    }

    .text-a {
        font-size: 12px;
        width: 100%;
    }

    .hero-btn-div {
        gap: 16px;
    }

    .img-mbl {
        width: 100%;
    }

    .img-wrapper {
        margin-top: 50px;
        gap: 20px;
        flex-direction: column;
    }

    .circle {
        width: 7%;
        height: 3%;
    }

    .circleb {
        width: 6%;
        top: -1;
    }

    .circlec {
        width: 7%;
        height: 2%;
        top: -7%;
        left: 87%;
    }
    .none{
        display: none;
    }
    .box {
        scale: 0.8;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boximg {
        width: 75%;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg) translate(170px) rotate(0deg);
        }

        100% {
            transform: rotate(360deg) translate(170px) rotate(-360deg);
        }
    }

    .one {
        transform: rotate(0deg) translate(170px) rotate(0deg);

    }

    .two {
        transform: rotate(90deg) translate(170px) rotate(-90deg);
    }

    .three {
        transform: rotate(180deg) translate(170px) rotate(-180deg);
    }

    .four {
        transform: rotate(270deg) translate(170px) rotate(-270deg)
    }

    /* hero section css end */
    /* services section start */


    .services-wrapper-p {
        width: 100%;
        font-size: 24px;
    }

    .another-p {
        width: 100%;
        font-size: 12px;
    }

    .card-wrapper {
        margin-top: 40px;
        gap: 24px;
        flex-direction: column;
    }

    .another-pa {
        font-size: 16px;
        width: 100%;
    }

    .otherp {
        font-size: 12px;
    }

    .aa {
        font-size: 13px;
    }

    /* services section end */

    /* why choce us section start */
    .why-choce-us-wrapper {
        padding: 10px 0px 10px 0px;
    }

    .why-p {
        color: rgb(202, 198, 221);
        margin: 8px 0 16px 0;
        font-size: 24px;
    }

    .why-pa {
        font-size: 12px;
        width: 100%;
    }

    .mbl-w {
        width: 100%;
    }

    .card-width {
        width: 100%;
        gap: 10px;
    }

    .first-div-inner {
        padding: 6px;
        gap: 20px;
        flex-direction: column;
    }

    .straight-div {
        top: 4%;
        height: 96%;
        left: 3%;
    }

    .inner-p {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .right-side {
        width: 205px;
        height: 207px;
        left: 5%;
    }

    .right-side-another {
        width: 100%;
        top: 10%;
        right: 5%;
    }

    .parrent {
        justify-content: space-between;
        width: 100%;
    }

    .parent-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .why-card-wrapper {
        margin-top: 40px;
        gap: 40px;
    }

    .first-div {
        gap: 40px;
    }

    .right-wrapper {
        gap: 17.46px;
        align-items: start;
    }

    .right-inner-p {
        font-size: 12px;

    }

    .another-inner {
        gap: 50px;
        flex-direction: column;
    }

    .another-inner-wrapper {
        gap: 24px;
    }

    .right-div,
    .right-divb,
    .right-divc {
        width: 22px;
        height: 22px;
    }

    .emaila,
    .usera {
        left: 20%;
        width: 70%;
    }

    /* why choce us section end */
    /* pricing section start */
    .pricing-wrapper {
        padding: 10px 0 10px 0;
    }

    .pricing-card {
        padding: 12px;
        margin-top: 10px;

    }

    .pricing-card__title {
        font-size: 26px;
    }

    .pricing-card__description {
        font-size: 15px;
    }

    .circlec {
        width: 9%;
        height: 3%;
        top: -9%;
    }

    .cccd {
        top: -6%;
        width: 5%;
        height: 1%;
    }

    .pricing-package {
        font-size: 24px;
    }

    .pricing-upper {
        margin-bottom: 0px;
    }

    .pricing-card__price {
        font-size: 60px;
    }

    .middle-padding {
        padding: 10px;
    }

    /* pricing section end  */
    /* says section start */
    .says-wrapper {
        padding: 10px;
    }

    .user {
        width: 100%;
        font-size: 26px;
    }

    .user-name {
        font-size: 20px;
        text-align: center;
    }

    .user-info {
        flex-direction: column;
    }

    .user-role {
        font-size: 15px;
    }

    .testimonial-section {
        padding: 0px;
    }

    .testimonial-card {
        padding: 0px;
    }

    .testimonial-text {
        margin: 5px;
        font-size: 12px;
    }

    .innera {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .testimonial-inner {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .pagination {
        bottom: 0%;
        left: 39%;
    }

    .right-arrow {
        right: 0px;
    }

    .left-arrow {
        left: 0px;
    }

    /* says section end */
    /* be part of the future part start */
    .part-wrapper {
        padding-top: 10px;
    }

    .part-content {
        padding: 10px 0 10px 0;
        width: 100%;
    }

    .be-part-text {
        font-size: 24px;

    }

    .another-be-part-text {
        width: 100%;
        font-size: 12px;
    }

    .line {
        left: 13%;
        width: 70%;

    }

    /* be part of the future part end */
    /* footer part start */
    footer {
        padding: 10px 10px 14px 10px;
        margin-top: 0px;
    }

    .li-footer {
        padding: 10px;
        flex-direction: column;
    }

    .mbl-footer {
        flex-direction: column;
        gap: 20px;
    }

    .mbl-social {
        gap: 5px;

    }

    .footer-end {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    .footer-text {
        text-align: center;
        font-size: 12px;
    }

    /* footer part end */


}


@media only screen and (min-width:601px)and (max-width:768px) {

    /* *,::after,::before{
        border: 1px solid red;
    }   */
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 30px 0 30px;
    }

    .none {
        display: none;
    }

    .section-gap {
        margin: 50px 0 50px 0;
    }

    .w-100 {
        width: 100%;
    }

    .w-50 {
        width: 50%;
    }

    .tab-row {
        flex-direction: row;
    }

    .lg-none {
        display: flex;
    }

    .mtext {
        font-size: 14px;
    }

    .items {
        align-items: center;
    }

    .tab-w-50 {
        width: 50%;
    }

    /* nav bar css start */
    .nav-container {
        padding: 0 10px;
    }

    .nav-wrapper {
        padding: 10px 0 10px 0;
    }



    .identity {
        font-size: 15px;
    }

    .glow-mbl {
        font-size: 10px;
    }

    .navbar {
        padding: 10px 20px;
        background-color: #1e90ff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .navbar:hover {
        background-color: #4682b4;
    }

    .nav-card {
        position: fixed;
        top: -100%;
        /* Initially hidden */
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        /* Adjust width if needed */
        max-width: 400px;
        /* Optional: to limit size */
        background-color: #333;
        border-radius: 8px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        z-index: 1000;
        opacity: 0;
        /* Initially hidden */
        transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .nav-card.active {
        top: 10%;
        /* Adjust for visible position */
        opacity: 1;
        /* Fully visible */
    }

    .nav-list {
        list-style: none;
        padding: 20px;
    }

    .nav-list li {
        margin: 10px 0;
        color: whitesmoke;
        font-size: 18px;
        transition: color 0.3s ease, transform 0.3s ease;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding: 10px;
    }

    .large-hidden {
        display: none;
        /* Fully hide when not in use */
    }

    /* nav bar css end  */
    /* hero section css start */
    .hero-wrapper {
        padding: 15px;
    }

    .identity-hub {
        font-size: 40px;
        width: 100%;
        margin-top: 6px;
    }

    .text-a {
        font-size: 16px;
        width: 100%;
    }

    .hero-btn-div {
        gap: 16px;
    }

    .img-mbl {
        width: 100%;
    }

    .img-wrapper {
        margin-top: 30px;
        gap: 20px;
        flex-direction: column;
    }

    .circle {
        width: 4%;
    }

    .circleb {
        width: 5%;
        top: 6%;
    }

    .circlec {
        width: 4%;
        height: 3%;
        top: -7%;
    }
    
.center-box {
    width: 100%;
    margin-top: 6%;
}
    .box {
        scale: 1;
        width: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boximg {
        width: 50%;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg) translate(200px) rotate(0deg);
        }

        100% {
            transform: rotate(360deg) translate(200px) rotate(-360deg);
        }
    }

    .one {
        transform: rotate(0deg) translate(200px) rotate(0deg);

    }

    .two {
        transform: rotate(90deg) translate(200px) rotate(-90deg);
    }

    .three {
        transform: rotate(180deg) translate(200px) rotate(-180deg);
    }

    .four {
        transform: rotate(270deg) translate(200px) rotate(-270deg)
    }

    /* hero section css end */
    /* services section start */


    .services-wrapper-p {
        width: 100%;
        font-size: 40px;
    }

    .another-p {
        width: 100%;
        font-size: 16px;
    }

    .card-wrapper {
        margin-top: 40px;
        gap: 24px;
        flex-direction: column;
    }

    .another-pa {
        font-size: 20px;
        width: 100%;
    }

    .otherp {
        font-size: 16px;
    }

    .aa {
        font-size: 13px;
    }

    /* services section end */

    /* why choce us section start */
    .why-choce-us-wrapper {
        padding: 10px 0px 10px 0px;
    }

    .why-p {
        color: rgb(202, 198, 221);
        margin: 8px 0 16px 0;
        font-size: 40px;
    }

    .why-pa {
        font-size: 16px;
        width: 100%;
    }

    .mbl-w {
        width: 100%;
    }

    .card-width {
        width: 100%;
        gap: 10px;
    }

    .first-div-inner {
        padding: 6px;
        gap: 20px;
        flex-direction: column;
    }

    .straight-div {
        top: 4%;
        height: 96%;
        left: 3%;
    }

    .inner-p {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .right-side {
        width: 400px;
        height: 207px;
        left: 5%;
    }

    .right-side-another {
        width: 100%;
        top: 10%;
        right: 5%;
    }

    .parrent {
        justify-content: space-between;
        width: 100%;
    }

    .parent-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .why-card-wrapper {
        margin-top: 40px;
        gap: 40px;
    }

    .first-div {
        gap: 40px;
    }

    .right-wrapper {
        gap: 17.46px;
        align-items: start;
    }

    .right-inner-p {
        font-size: 16px;

    }

    .another-inner {
        gap: 50px;
        flex-direction: column;
    }

    .another-inner-wrapper {
        gap: 24px;
    }

    .right-div,
    .right-divb,
    .right-divc {
        width: 22px;
        height: 22px;
    }

    .emaila,
    .usera {
        left: 25%;
        width: 50%;
    }

    .parent-wrappera {
        justify-content: center;
    }

    /* .parent-wrappera{
    justify-content: center;
  } */
    /* why choce us section end */
    /* pricing section start */
    .pricing-wrapper {
        padding: 10px 0 10px 0;
    }

    .pricing-card {
        padding: 12px;
        margin-top: 10px;

    }

    .pricing-card__title {
        font-size: 30px;
    }

    .pricing-card__description {
        font-size: 20px;
    }

    .cccd {
        top: -6%;
        width: 3%;
        height: 3%;
    }

    .pricing-package {
        font-size: 40px;
    }

    .pricing-upper {
        margin-bottom: 0px;
    }

    .pricing-card__price {
        font-size: 45px;
    }

    .middle-padding {
        padding: 10px;
    }

    /* pricing section end  */
    /* says section start */
    .says-wrapper {
        padding: 10px;
    }

    .user {
        width: 70%;
        font-size: 40px;
    }

    .user-name {
        font-size: 20px;
        text-align: center;
    }

    .user-info {
        flex-direction: column;
    }

    .user-role {
        font-size: 15px;
    }

    .testimonial-section {
        padding: 0px;
    }

    .testimonial-card {
        padding: 0px;
    }

    .testimonial-text {
        margin: 5px;
        font-size: 12px;
    }

    .innera {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .testimonial-inner {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .pagination {
        bottom: 0%;
        left: 45%;
    }

    .right-arrow {
        right: 0px;
    }

    .left-arrow {
        left: 0px;
    }

    /* says section end */
    /* be part of the future part start */
    .part-wrapper {
        padding-top: 10px;
    }

    .part-content {
        padding: 10px 0 10px 0;
        width: 100%;
    }

    .be-part-text {
        font-size: 40px;

    }

    .another-be-part-text {
        width: 100%;
        font-size: 16px;
    }

    .line {
        left: 13%;
        width: 70%;

    }

    /* be part of the future part end */
    /* footer part start */
    footer {
        padding: 10px 10px 14px 10px;
        margin-top: 0px;
    }

    .li-footer {
        padding: 10px;
        flex-direction: column;
    }

    .mbl-footer {
        flex-direction: column;
        gap: 20px;
    }

    .mbl-social {
        gap: 5px;

    }

    .footer-end {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    .footer-text {
        text-align: center;
        font-size: 12px;
    }

    /* footer part end */

}

@media only screen and (min-width:769px) and (max-width:1024px) {

    /* *,::after,::before{
        border: 1px solid red;
    }  */
    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .nav-container {
        padding: 0 10px;
    }

    .text-extra,
    .why-p,
    .be-part-text {
        font-size: 45px;
    }

    .identity-hub {
        width: 100%;
    }

    .text-semi {
        font-size: 20px;
    }

    .text-a {
        width: 100%;
    }

    .services-wrapper-p {
        width: 60%;
    }

    .another-pa {
        font-size: 19px;
    }

    .otherp,
    .aa {
        font-size: 16px;
    }

    .usera,
    .emaila {
        left: 0%;
    }

    .pricing-card__price {
        font-size: 70px;
    }
    .boximg{
        width: 51%;
    }
  .center-box{
    margin-top: 12%;
  }
    @keyframes spin {
        0% {
            transform: rotate(0deg) translate(250px) rotate(0deg);
        }

        100% {
            transform: rotate(360deg) translate(250px) rotate(-360deg);
        }
    }

    .one {
        transform: rotate(0deg) translate(250px) rotate(0deg);

    }

    .two {
        transform: rotate(90deg) translate(250px) rotate(-90deg);
    }

    .three {
        transform: rotate(180deg) translate(250px) rotate(-180deg);
    }

    .four {
        transform: rotate(270deg) translate(250px) rotate(-270deg)
    }
}